{
  "printWidth": 120,
  "tabWidth": 4,
  "semi": true,
  "htmlWhitespaceSensitivity": "strict",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "singleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}